*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

#home{
  position: relative;
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/Fresian.jpg");
}

#home .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  opacity: .7;

}
#home h1 {
text-align: center;
font-family: sans-serif;
font-size: 80px;
font-weight: 900;
color: black;
margin-top: 2em;
z-index: 1;
margin-bottom: .5em;
}
#home p {
  font-family: sans-serif;
  color: black;
  max-width: 70%;
  margin: 0px auto;
  z-index: 1;
  line-height: 1.5;
  font-size: 1.4em;
}

.daily-production{
  max-width: 65%;
  margin: 2em auto;
}

.daily-production h1{
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.daily-production p{
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.daily-production form{
  max-width: 100%;
  margin: 0em auto;
}

.daily-production label{
  font-size: 1.2em;
  font-weight: 700;
}
.daily-production select{
  width: 200px;
}
.daily-production input, .daily-production select, .daily-production button{
  display: block;
  height: 40px;
  padding: .5em;
  margin: .6em 0em;

}

.report{
  border: 2px solid #ccc;
  border-radius: .5em;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
  padding: 2em;
  margin: 2em auto;
}
button{
  background-color: black;
  color: white;
  font-weight: 700;
  width: 200px;
}